#screen_shot_container {
    width: 200px;
    height: 200px;
    position: absolute;

    bottom: 45%;
    right: -200px;
    background-color: black;

    p {
        color: $color_white;
        font-family: MicroSquareEx;
        text-align: center;
    }

    img {
        display: block;
        margin: 0px auto;
    }
}