@import 'animation';
@import 'attributes';
@import 'info_pages';

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden; /* Hide scrollbars */
}

#main_app {
  // left:0;
  // top:0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contral_bar_canvas {
  position: fixed;
  //width: 10rem;
  top:0rem;
  left:0rem;
  height: 100vh;
  
  //width: 6.2rem;
  //background-color: black;

  .contral_bar {
    padding-top:2rem;
    padding-left:2.5rem;
  
    #ctrl_mode_change {
      animation: skew 3s infinite;
    }
    img {
      width: 2.25rem;
      filter: $filter_white;
    }

    img.selected {
        filter: $filter_green;
    }

    span {
      color : white;
    }
  
    img:hover {
      filter: $filter_green;
    }

    .control_bar_expand {
      display: none;
      hr {
        width: 3.75rem;
        margin-left:-1rem;
        border: 1px solid #4E4E4E;
        display: block;
      }

      img {
        display: block;
        padding: 0.5rem 0rem;
      }

      .scrollbar_container {
        ::before {
          direction:rtl;
          background-color: $color_green;
        }
        .simplebar-track.simplebar-vertical {
          left:-1rem;
        }
      }

      .animation_container {
        display: none;
        margin-left: -0.75rem;
        height: 13rem;
        //width: 5rem;
        

        span {
          direction:ltr;
          color: white;
          padding: 0.13rem 0rem;
          display: block;
          font-size: 0.7rem;
          font-family: MicroSquareEx;
          cursor: pointer;
        }

        .selected {
          color: green;
        }

        span:hover {
            color: $color_green;
        }
      }

      .frame_container {
        display: none;
        height: 14rem;
        margin-left: -0.25rem;

        img {
          filter: none;
          width: 2.5rem;
          padding: 0.0rem 0rem;
          margin-bottom: 0.75rem;
          border: 0.15rem outset $color_white;
          border-radius: 12px;
          }

          img:hover{
            border: 0.15rem outset green;
          }

        .selected {
          filter: none;
          border: 0.15rem outset $color_green;
        }
      }
  }

    #ctrl_back_container{
      position: fixed;
      bottom:2.5rem;
      left:2.4rem;
      
      img {
        padding: 0px;
      }
      span {
        font-family: MicroSquareEx;
        margin-left: -0.25rem;
        font-size: 0.75rem;
      }
    }
  }
}

#animation_dropdown {
  position: fixed;
  top:1rem;
  left:1rem;
  height: 1rem;

  option {
    background: #323741;
    color: #9ba9ca;
    height: 3rem;
    line-height: 20px;

  }

  select {
    padding: 0.3rem 0.3rem;

    background: #2a2f3b;
    color: white;
    border:none;
    outline:none;
  
  }
}

#loading_ui {
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
  background-color: black;

  .load_container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;

    @media only screen and (max-width: 600px) {
      width: 10rem;
      height: 10rem;
    }
    
    p {
      color: white;
    }

      
    span {
      color: white;
      text-align: center;
      display:block;
      font-family: MicroSquareEx;
    }

    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25rem;
      height: 25rem;

      @media only screen and (max-width: 600px) {
        width: 10rem;
        height: 10rem;
      }
    }

  }

  .load_bar {
    background-color: gray;
    height:24px;
    width:0%;
  }
}
