html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden; /* Hide scrollbars */
}

#main_app {
  // left:0;
  // top:0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contral_bar {
  position: fixed;
  //width: 10rem;
  top:40%;
  left:1rem;
  img {
    width: 2rem;
  }

  img:hover {
    filter: invert(27%) sepia(51%) saturate(1878%) hue-rotate(146deg) brightness(104%) contrast(97%);
  }
}